<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @edit.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @edit.user %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @edit.answer %>
</p>

<%= link_to 'Edit', edit_edit_path(@edit) %> |
<%= link_to 'Back', edits_path %>
