<div class="w-form">
  <%= form_for(@question) do |f| %>
    <% if @question.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

        <ul>
        <% @question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label "Заголовок вопроса:" %><br>
      <%= f.text_field :title, class: "w-input"%>
    </div>
    <div class="field">
      <%= f.label "Подробное описание ситуации:" %><br>
      <%= f.text_area :body, class: "w-input" %>
    </div>

    <div class="actions">
      <%= f.submit "Задать вопрос", class: "w-button"%>
    </div>
  <% end %>
</div>
