<div class="scenario-step w-container">
	<p id="notice"><%= notice %></p>
	<div class="question-block">
		<p>
		  <strong class="q-title"><%= @question.title %></strong> –
		  <strong class="q-user"><%= "#{@question.user.name} #{@question.user.last_name}" %></strong>
		  <%= time_ago_in_words(@question.created_at) + " назад" %>
		  <br><br>
		  <p class="q-body">
		  	<%= @question.body %>
		  </p>
		</p>
		<%= render "answers/answers_block" %>
		<% if user_signed_in? %>
			<a class = "show-answer-link" href = "" > <%= @new_answer_link_text %>  </a>
			<%= render "answers/new_form"%>
		<%end%>
	</div>

<%= link_to 'Задать вопрос', new_question_path if user_signed_in?%>
</div>
