<div class="w-form">
  <%= form_for(@answer) do |f| %>
    <div class="field">
      <%= f.label "Дать ответ:" %><br>
      <%= f.text_area :body, class: "w-input" %>
    </div>

    <div class="field">
      <%= f.hidden_field :question_id, value: @question.id %>
    </div>

    <div class="actions">
      <%= f.submit "Ответить", class: "w-button"%>
    </div>
  <% end %>
</div>