<div class="w-form update-answer-form update-answer-<%= answer.id %>-<%= edit.id %> hidden">
	<%= form_for(answer)  do |f| %>
	    <div class="field">
	      <%= f.label "Принять правку:" %><br>
	          <%= f.text_area :xxx, value: edit.id, class: "w-input ", required: "required" %>
	      <%= f.text_area :old_body, value: edit.answer.body, class: "w-input hidden", required: "required" %>
	      <%= f.text_area :body, value: "#{edit.answer.body} #{edit.body}", class: "w-input", required: "required" %>
	    </div>


	    <div class="actions">
	      <%= f.submit "Принять правку", class: "w-button"%>
	    </div>
	<% end %>
</div>